*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFFFFF;
    height: 100vh;
}
header{
    height: 88px;
    background-color:  #FDF1EB;
}

.wrapper{
    display: flex;
    width: 100vw;
    height: 80px;
    justify-content: space-between;
  
    
}

.title{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.title h2{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: #725C5C;
}
.title p , h3{

    color:#725C5C;
    font-size: 14px;
    font-family: 'Roboto' sans-serif;
}


.painel{
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}

.email {
    display: flex;
    flex-direction: column;
    font-size: 14px;
   
    height: 40px;

}

.email{
    display: flex;
    width: 100px;
    font-family: 'Quicksand', sans-serif;
    
}

.mail{
    font-size: 12px;
}
.photo img {
    border-radius: 100%;
    width: 40px;
    
    
}

.logo{
    grid-column:2;
    display: flex;
    flex-direction: column;
    background-color:  #FFFFFF;
    
    
}

.logo button{
    background-color:  #FFFFFF;
    width: 220px;
    height: 33px;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 15px;
    border : #4E4E4E dotted 1px
}

.page{
    display: flex;
    height: 100vh;
}

.main{
    display: grid;
    height: auto;
    grid-template-columns: 15% 70% 15% ;
    grid-template-rows: 20% 20% 20% 20% 20% 20% 20%;
    
    
    
}

.menuright{
    grid-column: 3
    
}

.description {
    grid-column: 2;
    width: 100%;

}
.description h2{
    padding: 20px 30px 20px 20px;
    color: #ED7839;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 20px;
    width: 80%;

}
.video img{
    grid-column: 2;
    width: 100%;
    height: 90%;
    padding-right: 30px;    
}

.menuright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 300px;

}

.menubutton{
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    
}
.menubutton button{
    background-color: #ED7839;
    border: none;
    border-radius: 4px;
}

.menubutton .download{
    width: 120px;
    height: 30px;
    background-color: #ED7839;
    border: none;
    border-radius: 4px;
}
.menudetails h3{
    color: #ED7839;
    margin-left: 5px;

}
.menudetails h2{
    padding: 10px;
    background-color: #FDF1EB;
    color:#4E4E4E;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
}

.menudetails{
    width: 242px;
    height: 440px;
    font-family: Quicksand;
    font-size: 14px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
}


.autors{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 900;

}

.university{
    font-size: 10px;
    margin-top: 20px;
}
.names{
    margin-top: 20px;
}

.resume{
    grid-row: 1;
    height: 190px;
    margin-top: 50px;
    border: 1px solid #ECECEC;
    grid-column: 2 / 4;
    margin-right: 70px;
    

}

.title2{
    display: flex;
    background-color: #FDF1EB;
    font-size: 15px;
    height: 45px;
    color:#4E4E4E;
    font-family: 'Roboto';
    align-items: center;
    border-radius: 3px;
    padding:15px ;
    

}
.discussion{
    align-content: center;
    margin-top: 20px;
    border: solid 1px #ECECEC;
    grid-row: 2;
    grid-column: 2 / 4;
    margin-right: 70px;
    width: auto;
    height: 2000px;
    

}
.titleDiscussion{
    display: flex;
    background-color: #FDF1EB    ;
    font-size: 15px;
    align-items: center;
    color:#4E4E4E;
    font-family: 'Roboto';
    height: 45px;
    padding-left: 15px;
    

}
.discussion{
    
   justify-items: center;
    height: 590px;
    grid-column: 2 / 4;
    
}
.discussion p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 270px;
    color:#ED7839;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
 }

 .icons{
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
 }

 .suggest p{
     display: flex;
     justify-content: center;
     color:#595959;
     font-family: 'Quicksand';
     font-weight: 400;
    margin: 10px;
 }

 .buttonTopic{
     display: flex;
     justify-content: center;

 }
 .buttonTopic button{
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);   
    border:none;
    width: 133px;
    height: 33px;
    border-radius: 4px;
    font-family: 'Quicksand';
    color: white;
    font-size: 15px;
    font-weight: 700;


}
.topic{
    justify-content: center;
    align-content: center;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    margin-top: 20px;
    
    padding: 15px;
    width: 98%;
    height: 150px;
}
.titleTopic1{
    color:#ED7839;
    margin: 3px 0 3px 25px;
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: 700;

}
.descriptionTopic1 p{
    margin: 10px 0 10px 25px;
    display: flex;
    font-family: 'Quicksand';
    font-size: 16px;
    color: #4D4D4D;
    text-align: justify;
}
.topic2{
    border: 1px solid #E7E7E7;
    font-family: Quicksand;

}
.nametopic1 h3{
    color:#5C5C5C;
    margin-left: 25px;
}

.descriptionTopic2 p {
    margin: 0;
    font-family: Quicksand;

}

.main2{
    display: grid;
    grid-template-columns: 15% 70% 15% ;
    grid-template-rows: 20% 20% 20% 20% 20% ;
    height: 900px;
    

    
}

footer {
    margin-left: 60px;
    display: flex;
    justify-content: center;
    width: 95%;
    height: 100px
}

.topic{
    width: 95%;
    
}


