*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #E5E5E5;
}
header{
    height: 88px;
    background-color:  #FDF1EB;
}

.wrapper{
    display: flex;
    width: 100vw;
    height: 68px;
    /* justify-content: space-between; */
    margin: 0 30px 10px 20px ;
}

.title{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.title h2{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: #725C5C;
}
.title p , h3{

    color:#725C5C;
    font-size: 14px;
    font-family: 'Roboto' sans-serif;
}


.painel{
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
}

.email {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    
}

.email{
    display: flex;
    width: 100px;
    font-family: 'Quicksand', sans-serif;
    
}

.mail{
    font-size: 12px;
}
.photo img {
    border-radius: 100%;
    width: 40px;
    margin-right: 50px;
    
}

.logo{
    display: flex;
    flex-direction: column;
    background-color:  #FFFFFF;
    
}

.logo button{
    background-color:  #FFFFFF;
    width: 220px;
    height: 33px;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 15px;
    border : #4E4E4E dotted 1px
}

.page{
    display: flex;
    height: 800px;
}

.main{
    display: grid;
    grid-template-columns: 21% 55% 25%
    
}

.menuright{
    grid-column: 3
    
}

.description {
    grid-column: 2;
    width: 100%;

}
.description h2{
    margin-bottom: 20px 30px 40px 20px;
    color: #ED7839;
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 20px;

}
.video img{
    grid-column: 2;
    width: 100%;
    height: 90%;
    padding-right: 30px;    
}

.menuright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 300px;

}

.menubutton{
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    
}
.menubutton button{
    background-color: #ED7839;
    border: none;
    border-radius: 4px;
}

.menubutton .download{
    width: 120px;
    height: 30px;
    background-color: #ED7839;
    border: none;
    border-radius: 4px;
}
.menudetails h3{
    color: #ED7839;
    margin-left: 5px;

}
.menudetails h2{
    padding: 10px;
    background-color: #ECECEC;
    color:#4E4E4E;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
}